body {
  padding-top: 20px;
  background-image: url("../images/brickwall.png");
  margin-left:5%;
  width: 90%;

  h1 {
    text-align: center;
    margin-bottom: 30px;
    border: solid black 2px;
  }
}

.mainNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-size: 17px;

  a:link, a:visited {
   background-color: #4B85AC ;
   color: white;
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
  }


  a:hover, a:active {
   background-color: #376380;
  }
}

.logInfo{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}